body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .quiz-container {
    max-width: 650px;
    margin: 0 auto;
    padding: 21px;
    border: 3px solid #ccc;
    border-radius: 11px;
    background-color: #fff;
    box-shadow: 0 2.5px 4px rgba(0, 0, 0, 0.1);
  }
  
  .question {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  
  .option {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .option:hover {
    background-color: #e3e3e3;
  }
  
  .next-btn {
    margin-top: 22px;
    padding: 10px 20px;
    background-color: #2563af;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .message {
    margin-top: 10px;
    font-style: italic;
  }
  