body {
  font-family: Arial, sans-serif;
}

.quiz-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2d4a69;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submit-btn{
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #070be7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

button:hover {
  background-color: #0056b3;
}
